{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.edit.title' | trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row g-2 justify-content-center py-4 vh-100">
        <div class="col-lg-4 order-1 order-md-1 d-flex flex-column bg-white p-3 rounded" data-turbo="false">
            <h1>{{ 'profile.edit.title' | trans }}</h1>
            {% if disabled %}
                <div class="alert alert-warning" role="alert">{{ 'profile.edit.suspended' | trans }}</div>
            {% endif %}
            {{ form(profileForm) }}
            <h3>{{ 'profile.edit.password.title' | trans }}</h3>
            {{ form(passwordForm) }}
        </div>
    </div>
</div>
{% endblock %}
