{% extends 'base.html.twig' %}

{% block body_background %}style="background-image: url('{{ asset('images/intro.jpg') }}'); background-size: cover"{% endblock %}

{% block body %}
        <div class="container">
            <div class="row g-2 justify-content-center py-4 vh-100">
                <div class="col-md-4 order-2 order-md-1 d-flex">
                    <div class="m-auto bg-white p-3 rounded">
                        <h3>{{ 'security.common.why_account.title' | trans({serviceName: serviceName}) }}</h3>
                        <p>{{ 'security.common.why_account.desc' | trans }}</p>
                        <h3>{{ 'security.common.how_data.title' | trans }}</h3>
                        <p>{{ 'security.common.how_data.desc' | trans }}</p>
                    </div>
                </div>
                <div class="col-lg-4 order-1 order-md-1 d-flex">
                    {% block login_form %}{% endblock %}
                </div>
            </div>
        </div>
{% endblock %}
