{% extends 'security/common.html.twig' %}

{% block title %}{{ 'login.title' | trans }}{% endblock %}

{% block login_form %}
            <form method="post" class="w-100 mx-auto my-lg-auto p-3 bg-white rounded" style="max-width: 400px" data-turbo="false">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">{{ message | trans }}</div>
                    {% endfor %}
                {% endfor %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <p class="h3 mb-3 fw-normal">{{ 'login.desc' | trans }}</p>
                <div class="form-floating mb-3">
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="name@example.com">
                    <label for="username">{{ 'login.form.email' | trans }}</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Password">
                    <label for="password">{{ 'login.form.password' | trans }}</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary w-100 py-2 mb-2" type="submit">
                    {{ 'login.sign_in_btn' | trans }}
                </button>

                <hr>

                <p class="mt-3 text-center">{{ 'login.no_account.title' | trans }} <a href="{{ path('app_register') }}">{{ 'login.no_account.link' | trans }}</a></p>
                <p class="mt-3 text-center">{{ 'login.pw_forgotten.title' | trans }} <a class="text-nowrap" href="{{ path('app_forgot_password_request') }}">{{ 'login.pw_forgotten.link' | trans }}</a></p>
            </form>
{% endblock %}
