{% extends 'email.html.twig' %}

{% block content %}
    <h1>{{ 'registration.confirmation.title'|trans }}</h1>

    <p>{{  'registration.confirmation.please'|trans }}</p>
    <p class="text-center">
        <a class="btn btn-primary" href="{{ signedUrl|raw }}">{{ 'registration.confirmation.link'|trans }}</a>
    </p>
    <p>{{ 'registration.confirmation.expiration'|trans({time: expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')}) }}</p>
    {% if withRedirection %}
        <p>{{ 'registration.confirmation.redirection'|trans }}</p>
    {% endif %}
    <p>{{ 'registration.confirmation.end'|trans }}</p>
    <p>{{ serviceName }}</p>
{% endblock %}