{% extends 'email.text.twig' %}

{%~ block content ~%}
{{ 'registration.confirmation.title'|trans }}

{{  'registration.confirmation.please'|trans }}

{{ signedUrl|raw }}

{{ 'registration.confirmation.expiration'|trans({time: expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')}) }}

{% if withRedirection %}
{{ 'registration.confirmation.redirection'|trans }}
{% endif %}

{{ 'registration.confirmation.end'|trans }}

{{ serviceName }}
{%~ endblock ~%}