{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.pending.title'|trans }}{% endblock %}


{% block body %}
    <div class="container vh-100 d-flex flex-column">
        <div class="col-md-6 m-auto mt-5 bg-white p-3 rounded">
            <h1>{{ 'registration.pending.title' | trans }}</h1>
            <p>{{ 'registration.pending.desc' | trans }}</p>
        </div>
    </div>
{% endblock %}
