{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.check_email.title' | trans }}{% endblock %}

{% block body %}
    <div style="background-image: url('{{ asset('images/intro.jpg') }}'); background-size: cover">
        <div class="container">
            <div class="row g-2 justify-content-center py-4 vh-100">
                <div class="col-lg-4 order-1 order-md-1 d-flex">
                    <div class="m-auto bg-white rounded p-3">
                        <p>
                            {{ 'reset_password.check_email.reset' | trans }}
                            {{ 'reset_password.check_email.expire' | trans({time: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
                        </p>
                        <p>{{ 'reset_password.check_email.not_received' | trans }}</p>
                        <a href="{{ path('app_forgot_password_request') }}">{{ 'reset_password.check_email.back' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
