{% extends 'email.html.twig' %}

{% block content %}
<h1>{{ 'reset_password.email.title' | trans }}</h1>

<p>{{ 'reset_password.email.reset' | trans }}</p>

<p class="text-center">
    <a class="btn btn-primary" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ 'reset_password.email.btn'|trans }}</a>
</p>

<p>{{ 'reset_password.email.expire' | trans({time: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}</p>

<p>{{ 'reset_password.email.end' | trans }}</p>
{% endblock %}