{% extends 'email.text.twig' %}

{% block content %}
{{ 'reset_password.email.title' | trans }}

{{ 'reset_password.email.reset' | trans }}

{{ url('app_reset_password', {token: resetToken.token}) }}

{ 'reset_password.email.expire' | trans({time: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}

{{ 'reset_password.email.end' | trans }}
{% endblock %}