{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.reset.title' | trans }}{% endblock %}

{% block body %}
<div style="background-image: url('{{ asset('images/intro.jpg') }}'); background-size: cover">
    <div class="container">
        <div class="row g-2 justify-content-center py-4 vh-100">
            <div class="col-lg-4 order-1 order-md-1 d-flex">

    {{ form_start(resetForm, { 'attr': {'class': 'm-auto bg-white rounded p-3'}}) }}
                <h1>{{ 'reset_password.reset.title' | trans }}</h1>
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'reset_password.reset.btn' | trans }}</button>
    {{ form_end(resetForm) }}
        </div>
        </div>
    </div>
</div>
{% endblock %}
