{% extends 'base.html.twig' %}

{% block title %}{{ 'room.index.title' | trans }}{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex flex-column">
        <div class="col-md-4 m-auto mt-5">
            <div class="mt-5 bg-white p-3 rounded">
                <h1>{{ 'room.index.regular_meeting.title' | trans }}</h1>
                {{ form(roomNameForm, {'attr': {'data-turbo': 'false'}}) }}
            </div>


            <div class="mt-5 bg-white p-3 rounded">
                <h1>{{ 'room.index.moderated.title' | trans }}</h1>

                <p>{{ 'room.index.moderated.desc' | trans }}</p>

                <a class="btn btn-lg btn-primary w-100" href="{{ path('new_authenticated_room') }}">{{ 'room.index.moderated.create_btn' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
