{% extends 'base.html.twig' %}

{% block title %}
{{ 'room.moderated.title' | trans }}
{% endblock %}

{% block body %}
    <main class="container vh-100">
        <div class="m-auto col-md-4 d-flex vh-100">
            <div class="w-100 m-auto my-lg-auto p-3 bg-white rounded">
                {% if newModeratedRoom %}
                <p>{{ 'room.moderated.created' | trans }}</p>
                {% else %}
                <p>{{ 'room.moderated.invited' | trans }}</p>
                {% endif %}
                <p>{{ 'room.moderated.desc' | trans }}</p>
                <div class="mb-3">
                    <label for="guestsSharingLink" class="form-label"><b>{{ 'room.moderated.guests.link' | trans }}</b></label>
                    <div class="input-group">
                        <input type="url" readonly class="form-control" id="guestsSharingLink" value="{{ guestFullLink }}">
                        <button class="btn btn-outline-secondary" type="button" id="copyGuestLinkBtn">
                            <svg style="width: 25px; height: 25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>content-copy</title><path d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" /></svg>
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="moderatorsSharingLink" class="form-label"><b>{{ 'room.moderated.moderators.link' | trans }}</b></label>
                    <div class="input-group">
                        <input type="url" readonly class="form-control" id="moderatorsSharingLink" value="{{ url('room_moderated', { 'meetingId': meetingId }) }}" />
                        <button class="btn btn-outline-secondary" type="button" id="copyModeratorLinkBtn">
                            <svg style="width: 25px; height: 25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>content-copy</title><path d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" /></svg>
                        </button>
                    </div>
                    <div class="form-text">
                        <p>{{ 'room.moderated.moderators.help' | trans }}</p>
                    </div>
                </div>
                <a href="{{ path('room_auth', {'roomName': roomName, 'meetingId': meetingId }) }}" class="btn btn-lg btn-primary w-100">{{ 'room.moderated.moderators.join_btn' | trans }}</a>
            </div>
        </div>
    </main>
    <script>
            document.querySelector('#copyGuestLinkBtn').addEventListener('click', () => {
                console.debug('copy guest');
                document.querySelector('#guestsSharingLink').select();
                document.execCommand('copy');
            });
            document.querySelector('#copyModeratorLinkBtn').addEventListener('click', () => {
                document.querySelector('#moderatorsSharingLink').select();
                document.execCommand('copy');
            });
    </script>
{% endblock %}


