{% extends 'base.html.twig' %}

{% block title %}{{ 'room.not_allowed.title' | trans }}{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex flex-column">
        <div class="col-md-4 m-auto mt-5">
            <p>{{ 'room.not_allowed.desc' | trans }}</p>
            <a class="w-100 btn btn-primary" href="{{ roomGuestFullLink }}">{{ 'room.not_allowed.back_btn' | trans }}</a>
        </div>
    </div>
{% endblock %}
