{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col-md-4 mx-auto my-5">
            <h1>{{ 'error.404.title' | trans }}</h1>

            <img src="{{ asset('images/404.jpg') }}"  alt="" class="object-fit-contain rounded w-100"/>
            <p class="mt-2">
                {{ 'error.404.body' | trans }}<br>
                <a href="{{ path('app_room') }}">{{ 'error.return_homepage' | trans }}</a>
            </p>
        </div>
    </div>


{% endblock %}